<div id="carouselPerfumes" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/ChatGPT Image 16 oct 2025, 09_16_06 a.m..png" class="d-block w-100" style="height: 600px; object-fit: cover;" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="assets/ChatGPT Image 16 oct 2025, 10_12_49 a.m..png" class="d-block w-100" style="height: 600px; object-fit: cover;" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://media.vogue.es/photos/61ed2ff6dd52dacaa3c9fd5f/master/w_1600%2Cc_limit/Bodegon_Vogue_4_202.jpg" class="d-block w-100" style="height: 600px; object-fit: cover;" alt="Slide 3">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPerfumes" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPerfumes" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
<br>

<div>
  <h2 style="text-align: center;">
    Mas Buscados
    <br>
  </h2>
</div>
