.arrepentimiento-container {
  background: #000;
  min-height: 100vh;
  padding: 40px;
  color: white;
}

h1 {
  
  text-align: center;
  margin-bottom: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.formulario {
  max-width: 500px;
  margin: auto;
  background: #111;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255,255,255,0.07);
}

.campo {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #ccc;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 6px;
  background: #1a1a1a;
  color: white;
}

input:focus {
  border-color: white;
  outline: none;
}

.btn-enviar {
  width: 100%;
  padding: 12px;
  background: #222;
  border: 1px solid gray;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
}

.btn-enviar:hover {
  background: white;
  color: black;
}

.error {
  color: rgb(255, 80, 80);
  font-size: 14px;
  margin-top: 5px;
}

.exito {
  margin-top: 15px;
  color: #00ff88;
  text-align: center;
  font-weight: bold;
}

textarea{
  padding-bottom: 10px;
  width: 100%;
  background-color: #1a1a1a;
  color: rgb(255, 255, 255);

}